#root {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.title {
  border: solid 1px white;
  width: 90vw;
  margin: 20px auto;
}

.container {

  border: solid 1px white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.card {
  border: solid 1px white;
  width: 26%;
  max-height: 35%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.text {
  height: 100%;
  overflow: auto;
  text-overflow: 'ellipsis;

}

.img {
  height: 70%;
  width: 100%;
}